body {
  background-color: darkgray;
}

#cardHolder {
  display: flex;
}

.mainHeader {
  color: white;
  text-align: center;
}

.card {
  width: 460px;
  height: 400px;
  background-color: lightgray;
  padding: 50px;
  margin: 50px;
  opacity: 89%;
  text-align: center;
}

.dogpic {
  width: 300px;
  height: 235px;
  display: block;
  text-align: center;
  align-items: center;
}

.button {
  align-items: center;
}
